@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  background-color: #1f2937;
}

.full-color {
  display: flex;
  justify-content: center;
}

.full-color .container {
  width: 1440px;
  /* border: 2px solid lightcoral; */
  height: 100vh;
}

.container .header-container {
  display: flex;
  padding: 16px 48px;
  justify-content: space-between;
}

.header-container .header {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.header-container .links {
  width: 420px;
  align-self: center;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.links a,
.left .subtext {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.left .main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.left .subtext {
  margin-bottom: 6px;
}

.left button {
  background-color: #3882f6;
  border: none;
  font-size: 18px;
  color: #f9faf8;
  font-weight: 900;
  padding: 4px 8px;
  border-radius: 8px;
  width: 120px;
  cursor: pointer;
}

.hero {
  display: flex;
  padding: 80px 48px;
  align-items: center;
  gap: 46px;
}

.hero .left {
  width: 460px;
}

.right {
  background-color: gray;
  flex: auto;
  height: 193px;
  display: flex;
  justify-content: center;
}

.right img {
  align-self: center;
  color: #f9faf8;
  font-size: 18px;
}

.content .card-1 {
  background-color: #f9faf8;
  padding: 46px 24px;
}

.card-1 .title {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 24px;
}

.illustration img {
  width: 120px;
  height: 120px;
}

.info-section .illustration {
  display: flex;
  justify-content: center;
  gap: 78px;
}

.info-section .info-subtext {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.illustration img {
  border: 2px #3882f6 solid;
  border-radius: 8px;
}

.info-subtext p {
  text-align: center;
  width: 180px;
  font-size: 18px;
  color: #1f2937;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.content .card-2 {
  background-color: #e5e7eb;
  padding: 56px 0px;
}

.card-2 .quote-section {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  align-self: center;
  margin: 0px 360px;
}

.card-2 .quote-from {
  font-size: 18px;
  font-weight: bold;
  color: #1f2937;
  margin-left: 890px;
}

.content .card-3 {
  background-color: #f9faf8;
  padding: 56px 64px;
}

.card-3 .inside {
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  gap: 120px;
  align-items: center;
  padding: 48px 64px;
  border-radius: 6px;
}

.left-side .main-text {
  font-size: 18px;
  font-weight: bold;
  color: #f9faf8;
}

.left-side .bottom-text {
  font-size: 18px;
  color: #e5e7eb;
}

.right-side button {
  width: 120px;
  font-weight: 900;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 18px;
  background-color: #3882f6;
  border: #e5e7eb solid;
  color: #e5e7eb;
}

.content .footer {
  font-size: 18px;
  color: #f9faf8;
  text-align: center;
  padding: 56px 0px;
}
/* 
.container1 {
  background-color: #1f2937;
  border: 2px solid pink;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  height: 100px;
}

.container1 .inside {
  border: 2px solid #2fe123;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.inside .header-logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.links {
  display: flex;
  align-items: center;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 420px;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
} */
